@font-face {
    font-family: "Roboto";
    src: url(assets/fonts/Roboto-Regular.ttf);
}

:root {
    --font: "Roboto";
    --primary: #FD4C82;
    --secondary: #91c235;
}

body {
    font-family: var(--font) !important;
}

.hero-section {
    background-image: url(assets/images/hero/hero.png);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.social-icons i {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s all ease;
}

.social-icons i:hover {
    background-color: var(--primary) !important;
    color: white;
}

nav .nav-link {
    color: black !important;
}

nav button:hover {
    color: black !important;
    transition: .3s all ease;
}

.service-card {
    box-shadow: 0px 8px 21px -10px rgba(0, 0, 0, 0.08);
    transition: all 0.3s ease;
    position: relative;
    width: 400px;
    height: 140px;
    top: -120px;
}

.service-card i {
    width: 80px;
    display: flex;
    transition: all 0.3s ease;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 80px;
    background-color: #f0f0f0;
}

.service-card:hover {
    background-color: var(--primary) !important;
    color: white !important;
    transition: all 0.3s ease;
}

.service-card:hover p{
    color: white !important;
    transition: all 0.3s ease;
}

.service-card:hover i{
    background-color: white !important;
}

@media screen and (max-width: 991px) {
    .top-nav {
        display: none !important;
    }
}