@font-face {
    font-family: "Roboto";
    src: url(assets/fonts/Roboto-Regular.ttf);
}

:root {
    --font: "Roboto";
    --primary: #FD4C82;
}

body {
    font-family: var(--font) !important;
}

.hero-section {
    background-image: url(assets/images/hero/hero.png);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.social-icons i {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s all ease;
}

.social-icons i:hover {
    background-color: var(--primary) !important;
    color: white;
}

nav .nav-link {
    color: black !important;
}

nav button:hover {
    color: black !important;
    transition: .3s all ease;
}